.App {
  text-align: center;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(0, 0, 0);
  color:white
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
} */

.notes-header {
  padding: 2%
}

.notes-container {
  padding-top: 2%;
  justify-content: center;
}

.note-image {
  padding: 13% 27% 10% 27%;
  background-image: url("./images/sticky.png");
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 200px;
  min-width: 200px;
  background-size: contain;
}

.note-show {
  padding: 2% 7%;
}


.note-buttons {
  padding-top: 27%;
}

.edit-note-form, .new-note-form {
  margin: 5% 20%;
}

.login-form {
  margin: 10% 35%;
  text-align: left
}

/* @media (max-width: 500px) {
  .note-image {
    display: none;
  }
} */