.App {
  text-align: center;
}

.notes-header {
  padding: 2%
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  outline: solid;
  margin: 2%;
}

.color-note {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 300px;
  width: 300px;
  outline: solid;
}

.inner-note {
  padding-top: 30%;
}

.note-image {
  margin-top: 2%;
  padding: 13% 27% 10% 27%;
  background-image: url("./images/sticky.png");
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 200px;
  min-width: 200px;
  background-size: contain;
}

.note-show {
  padding: 2% 7%;
}


.note-buttons {
  padding-top: 27%;
}

.edit-note-form, .new-note-form {
  margin: 5% 20%;
}

.login-form {
  margin: 10% 35%;
  text-align: left
}

/* @media (max-width: 500px) {
  .note-image {
    display: none;
  }
} */