.App {
  text-align: center;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(0, 0, 0);
  color:white
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
} */

.notes-header {
  padding: 5%
}


.note-image {
  padding: 13%;
  margin-top: 3%;
  background-image: url("./images/sticky.png");
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 350px;
  background-size: contain;

}

.note-show {
  justify-content: center;
  margin-top: 5%;
}

.note-buttons {
  padding-top: 20%;
}

.edit-user-form, .new-user-form {
  margin: 8%;

}

.notes-container {
  padding-top: 3%;
  justify-content: center;
  
}

.login-form {
  margin: 10% 35%;
  text-align: left
}

